# Ignore virtual environment
.venv/

# Ignore sqlite DB
shopping.db

# Ignore Python cache
__pycache__/

# Ignore intermediate Excel or PowerBI files
*.xlsx
*.pbix
*.pdf

# Ignore OS files
.DS_Store
Thumbs.db
